#content {
  background: black;
  color: white; }
  #content .brand {
    display: inline-block; }
  #content ul {
    display: inline-block; }
    #content ul li {
      list-style: none;
      display: inline-block; }
